body{
	height: 100%;
	animation-name: backgroundcolor;
	animation-duration: 300s;
	animation-direction: alternate;
	animation-iteration-count: infinite;

}
.circle_container{
	width: 100vw;
	height: 100vh;
	display:flex;
	justify-content:center;
	align-items:center;

}
.circle{
	margin-top: 0;
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
	border:4px solid white;
	position: absolute;
	opacity: 0;
}

.show{
	opacity: 1;
	margin-top: 0;
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
	border:4px solid white;
	position: absolute;
}

@keyframes backgroundcolor{
	0%{
		background-color: #a2c3f9;
	}
	100%{
		background-color: blue;
	}
}