body{
	height: 100%;
	animation-name: back-animation;
	animation-duration: 10s;
	animation-direction: normal;
	animation-iteration-count: infinite;

}
.circle_container{
	width: 100vw;
	height: 100vh;
	display:flex;
	justify-content:center;
	align-items:center;

}
.circle{
	margin-top: 0;
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
	border:4px solid white;
	position: absolute;
	opacity: 0;
}

.show{
	opacity: 1;
	margin-top: 0;
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
	border:4px solid white;
	position: absolute;
}

/*.pulse{
	border-radius: 50%;
	opacity: 0;
	border:1px solid white;
	height: 50vw;
	width: 50vw;
	transition-duration: 1s;


}
.pulse_show{
	opacity: .2;
}
*/
@keyframes back-animation{
	0%{
		background-color: #a2c3f9;
	}
	50%{
		background-color: #0563ff;
	}
	100%{
		background-color: #a2c3f9;
	}
}
/*@keyframes pulse-animation{
	100%{
		opacity: .2;
	}
}*/