body{
	/*outline: 1px solid blue;*/
	width: 90%;
	font-family: "Helvetica", "Arial", "sans-serif";
	margin: 0 auto;
}
/*header 1*/
h1{
	margin-top: 1%;
	margin-bottom: 0;
	font-size: 250%;
}
/*navigation*/
nav{
	margin-top: .5%;
	/*outline: 1px solid pink;*/
	width: 50%;
	font-size: 90%;

}
/*nav links*/
a{
	text-decoration: none;
	color: black;
}
a:visited{
	color: black;
}
a:hover{
	color: deepskyblue;
}
.nav_padding{
	padding-right: 8px;
}
/*new navigation for smaller version*/
.new_nav{
	display: none;
	line-height: 140%;
/*	outline: 1px solid yellow;*/
}
/*image container*/
.images{
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.images img{
	margin-bottom: 1%;
	margin-right: 1%;
}
.images img:hover{
	opacity: .5;
}
/*menu for smaller version*/
.menu{
	display: none;
}
/*smaller h1*/
.small_header{
	display: none;
}
@media screen and (max-width: 670px){
	h1{
		/*outline: 1px solid red;*/
		font-size: 4em;
		line-height: 1em;
		margin-top: 3%;
	}
	.menu{
		display: inherit;
	}
	.menu img{
		height: 40px;
	}
	nav{
		display: none;
	}
	a:hover{
		color: black;
	}
	img:hover{
		opacity: 1;
	}
	.images img{
		/*outline: 1px solid blue;*/
		width: 90vw;
		height: auto;
	}
	.normal_header{
		display: none;
	}
	.small_header{
		display: inherit;
	}
}
