body{
	font-family: "Helvetia", "Arial", "sans-serif";
/*	outline: 1px solid red;*/
}
.navigation{
	list-style-type: none;
	width: 40%;
	outline: 1px solid red;
	margin: auto;
	z-index: -1;
	position: fixed;
}
.navigation a{
	text-decoration: none;
	color: black;
	font-size: 200%;
}
.navigation_square_new{
	
}
.navigation a:visited{
	color: black;
}
.navigation a:active{
	color: blue;
}
.z-items{
	z-index: -1;
}
.items{
	width: 87vw;
	text-align: justify;
	margin:auto;

}
.items img{
	width: 15%;
	margin-bottom: 4%;
}
.items img:hover{

}
.items .xl{
	width: 20%;
}
.items .small{
	width: 10%;
}
.items .large{
	width: 17%;
}
.name_reveal{
	height: 100px;
	width: 13vw;
	font-size: 1vw;

	position: fixed;
	top: 3%;
	left: 85%;

}
.name_reveal div{
	display: none;
}

.navigation_square{
	width: 2%;
	top: 40%;
	position: fixed;
}