body{
	font-family: "Helvetia", "Arial", "sans-serif";
/*	outline: 1px solid red;*/
}
.items{
	width: 95vw;
	margin-top: 30px;
	text-align: justify;
	margin: 20px auto;
}
.items img{
	width: 9%;
}
.name_reveal{
	height: 100px;
	width: 95vw;
	text-align: center;
	font-size: 10vw;
	position: fixed;
	top: 200px;
	margin: 20px auto;

}
.name_reveal div{
	display: none;
}
