body{
	margin: 0;
}
.droppable{
	width: 90vw;
	height: 300px;
/*	font-family: "Franklin Gothic Heavy", sans-serif;*/
	font-size: 2em;
	margin: auto;
/*	outline: 1px solid red;*/

}
.draggable{
/*	outline: 1px solid yellow;*/
	list-style-type: none;
	width: 90vw;
	text-align: justify;
	font-family: "Baskerville", "Times New Roman", serif;
}
.draggable li{
	border:1px solid black;
	display: inline;
	padding: 8px;
	line-height: 2.7em;
}
p a{
	text-decoration: none;
	color: black;
	margin-left: 40px;
	font-family: "Baskerville", "Time New Roman", serif;
/*	outline: 1px solid red;*/
}
p a:visited{
	color: black;
}
.poem_container{
	width: 80vw;
	display: -webkit-flex;
	margin: 0 auto;
	/*outline: 1px solid yellow;*/
	}
.frost{
	margin-left: 40px;
	width:50vw;
	font-family: "Baskerville", "Times New Roman", serif;
}
.mckay{
	width: 50vw;
	font-family: "Baskerville", "Times New Roman", serif;
	margin-left: 50px;

}
.poet{
	font-family: "Franklin Gothic Heavy", sans-serif;
}