body{
	font-family: "Baskerville", "Times New Roman", serif;
	margin: 0;
}
/*Viewheigh Wrapper*/
.viewheight_wrapper{
	height: 100vw;
/*	outline: 1px solid purple;*/
}
/*Word bank*/
.draggable{
/*	outline: 1px solid yellow;*/
	list-style-type: none;
	text-align: justify;
	padding: 0;
	margin: 50px 50px 0 50px;
}
.draggable li{
	border:1px solid black;
	display: inline;
	padding:8px;
	line-height: 2.9em;
}
.draggable li a{
	color: black;
	text-decoration: none;
}
/*Full poems*/
.poem_container{
/*	outline: 1px solid pink;*/
	display: -webkit-flex;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
}
.frost, .mckay{
	/*outline: 1px solid red;*/
	width: 50%;
}
.frost{
	margin-left: 15%;
}
